.inner-box{
  width: 942px;
  margin: 0 auto;
}

.gnb{
  width:100%;
  height: 75px;
  background: #fff;
  margin-top: 44px;
}

.logo{
  float: left;
  margin: 24px 244px 0 0;
}

.logo-link{
  display:block;
  width: 85px;
  height: 35px;
  background: url(../images/logo_image.png) no-repeat;
  text-indent:-99999px;
}

.menu-list{
  float: left;
  margin-top: 33px;
}

.menu-list-item{
  float:left;
  margin-right: 35px;
}

.input-search{
  width: 142px;
  height: 37px;
  border:1px solid #d5dfe5;
  float: right;
  margin-top: 20px;
  border-radius: 5px;
}

.util{
  width:100%;
  height: 44px;
  background: #c4a2e2;
  color: #fff;
  position:absolute;
  top:0;
  left:0;
}

.util-list .call{
  float: left;
  margin: 16px 26px 0 0;
}

.util-list .call:before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  background: url(../images/icon_sprite.png) no-repeat -48px 0;
  margin-right: 4px;
}

.util-list .mail{
  float: left;
  margin-top: 17px;
}

.util-list .mail:before{
  content: "";
  display: inline-block;
  width: 17px;
  height: 12px;
  background: url(../images/icon_sprite.png) no-repeat -69px 0;
  margin-right: 9px;
}

.language{
  float:right;
  margin-top: 17px;
}

.contents{
  text-align:center
}

.section1{
  background: #c4a2e2;
  padding: 30px 0 141px;
  box-sizing: border-box;
  position: relative;
}

.section1-heading{
  margin-bottom: 22px;
  font-size: 25px;
  font-weight: 700;
  color: #2c4755;
}

.paragraph{
  text-align: center;
  color: #2c4755;
}

.paragraph:before{
  width: 1600px;
  height: 155px;
  content: "";
  display: block;
  background: url(../images/clouds.png) no-repeat;
  position: absolute;
  top:118px;
  left: 50%;
  margin-left: -800px;
}

.paragraph:after{
  width: 1097px;
  height: 122px;
  content: "";
  display: block;
  background: url(../images/mid_cloud.png) no-repeat;
  position: absolute;
  top:106px;
  left: 50%;
  margin-left: -548px;
}

.section-heading{
  margin:2px 0 29px;
  font-size: 25px;
  color: #2c4755;
}

.h-line:after{
  content:"";
  display: block;
  width: 942px;
  height:64px;
  background: url(../images/h_line.png) no-repeat;
  margin: 0 auto;
}

.starter{
  margin: 9px auto 25px;
}

.select-wrap{
  width: 624px;
  height: 50px;
  border:1px solid #ddd;
  border-radius: 5%;
}

.select-wrap:after{
  content: "";
  display: block;
  clear: both;
}

.choose-one{
  width: 460px;
  height: 42px;
  border: 1px solid #dddddd;
  float: left;
  margin: 4px 0 0 5px;
}

.search-domain{
  float: left;
  margin:8px 0 0 16px;
}

.no1-tr,
.no1-tr-th{
  border: 1px solid #99b8c1;
  color: #00c7fc;
}

.tr-common{

}


















































































































































.footer{
  height: 378px;
  background: #c4a2e2;
  color: #fff;
  position: relative;
}

.footer:before{
  content: "";
  display: block;
  clear: both;
}

.list-heading{
  font-size: 17px;
  margin-bottom: 25px;
}

.col{
  width: 220px;
  float: left;
}

.footer-paragraph{
  width: 220px;
  font-size: 11px;
}

.list-item{
  font-size: 11px;
  margin-bottom: 20px;
}

.list{
  list-style: disc;
  margin-left: 20px;
}

.list-heading-sub{
  margin-bottom: 10px;
}

.footer-link{
  position: absolute;
  right: 0;
  font-size: 11px;
  color: #fff;
}

.read-more{
  position: relative;
}

.footer:after{
  content: "";
  display: block;
  width: 1600px;
  height: 129px;
  background: url(../images/clouds_amass.png) no-repeat;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -800px;
}